<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>detalhe das consultas</h1>

    <p><strong>Paciente:</strong> {{ consulta.paciente }}</p>
    <p><strong>Data:</strong> {{ consulta.data }}</p>
    <p><strong>Médico:</strong> {{ consulta.medico }}</p>
    <p><strong>Status:</strong> {{ consulta.status }}</p>

    <a href="{% url 'listar_medicos' %}">Voltar à lista de médicos</a>
</body>
</html>